.assessment-inline-controls {
	min-width: 0;
}

.assessment-inline-controls .assessment-picker {
	flex: 0 0 240px;
	width: 240px;
	max-width: 240px;
	min-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
